doctype html
html
  head 
    title HTTP Cookies
  body
    h2 Track Name Function
    form(action='/trackName', method='post')
      label Please enter your name:
        input(type='text', name='name')
      br
      button(type='submit') Submit